crm.{$PROD_DOMAIN} {
	tls internal
	reverse_proxy gba-client:80
}

shop.{$PROD_DOMAIN} {
	tls internal
	reverse_proxy gba-ecommerce:3000
}

api.{$PROD_DOMAIN} {
	tls internal
	reverse_proxy data-concord:35981
}

analytics.{$PROD_DOMAIN} {
	tls internal
	reverse_proxy data-analytics:35982
}

ecom-api.{$PROD_DOMAIN} {
	tls internal
	reverse_proxy gba-ecommerce-api:62506
}

shop-dev.85.17.167.167.nip.io {
	reverse_proxy http://host.docker.internal:8081
}

ecom-api-dev.85.17.167.167.nip.io {
	reverse_proxy http://host.docker.internal:62506
}

gba-dev.85.17.167.167.nip.io {
	reverse_proxy http://host.docker.internal:8082
}

gba-console-dev.85.17.167.167.nip.io {
	reverse_proxy http://host.docker.internal:8083
}

gba-api-dev.85.17.167.167.nip.io {
	reverse_proxy http://host.docker.internal:35981
}

gba-analytics-dev.85.17.167.167.nip.io {
	reverse_proxy http://host.docker.internal:35982
}

gba-qa-desk.85.17.167.167.nip.io {
	basic_auth {
		gba $2a$14$WgZDg8pqiGq6KsR86/TRJOiuAOQj9HGuZzsOHp4ZJ3rE5gadpjvH.
	}
	reverse_proxy http://gba-bug-host-web-1:4000
}
